$gray: #777;
$gray-light: lighten($gray, 20%);
$teal: #58e1c1;
$blue: #5ddffc;
$blue-dark: #3fabca;
$white: #fff;
$berry: #e4757a;
$berry-light: lighten($berry, 10%);
$orange: #fd7856;
$orange-light: lighten($red, 10%);
$purple: #927bc1;
$purple-light: lighten($purple, 20%);
$green: #63cc82;
$green-light: lighten($green, 10%);
$lilac:#deb2ee;
$lilac-light: lighten($lilac, 20%);
$seafoam: #80e8d1;